.order {
    .li_item {
        background: red 
     }
     .serach_wrap {
         background: #ffffff;
         width: 100%;
         height: 100px;
         margin-bottom: 10px
     }
    
}
.wrap {
    .wh(150px);
    background-color: green;
}

.code-box-shape {
    background: blueviolet;
    width: 100px;
    height: 100px;
}